h1 {
	margin-top: 30px;
	margin-bottom: 60px;
}

h2 {
	margin-bottom: 30px;
}

a {
	font-size: 25px;
	display: block;
}

.main-template {
	margin-top: 30px;
}

.result-template, .table-template {
	margin-top: 50px;
}

@media screen and (max-width: 768px) {
	#calculate {
		margin-left: 20px;
	}
}