<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Love Calculator</title>

<!-- Bootstrap core CSS -->
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />

</head>
<body>

  <div class="container">

    <h1 class="text-md-center">Love Calculator</h1>

    <div class="main-template col-lg-6 offset-lg-3">

      <div class="col-md-6">
        <div class="form-group">
          <label for="personA">Your Name:</label> <input type="text" class="form-control" id="personA">
        </div>
        <div id="personA-alert" class="alert alert-danger alert-dismissable fade out"></div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="personB">Your Lover's Name:</label> <input type="text" class="form-control" id="personB">
        </div>
        <div id="personB-alert" class="alert alert-danger alert-dismissable fade out"></div>
      </div>

      <div class="text-md-center">
        <button id="calculate" class="btn btn-danger btn-lg">Calculate!</button>
      </div>

    </div>

    <div class="result-template col-md-6 offset-md-3">
      <a class="text-md-center" id="result" href="#"></a>
    </div>

    <script id="resultTemplate" type="text/template">
  		<b><%= personA %></b> and <b><%= personB %></b>, your love is: <b><%= love %></b>
  	</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/jquery-3.1.1.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/tether.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- Your code goes here. -->
    <!-- <script>
    $( document ).ready(function() {
        $('.run').html(run.get("name"));
        $('.ying').html(ying.get("name"));
        $('.run').click(function(event) {
            event.preventDefault();
            $(this).html(run.loves());
        });
        $('.ying').click(function(event) {
            event.preventDefault();
            $(this).html(ying.loves());
        });
    });
    </script> -->
</body>
</html>